<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Form
    </title>
  </head>
  <body>
    <div>
      <form action="/form" method="post">
        <input type="text" name="name" placeholder="your name">
        <input type="email" name="email" placeholder="your email">
        <input type="submit" value="add new user">
      </form>
    </div>

  </body>
</html>
